<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Cocktail Mixer</title>
    <link rel="icon" href="images/logo2.jpeg" type="image/x-icon" />
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link href="../resources/css/my_style.css" rel="stylesheet" />
        
    <!--Page Styling CODE-->
    <style>
      body
      {
        /* background-image: url('background_img.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%; */
        background-color: rgba(102, 143, 166, 1);
      }
      div
      {
        background-color: rgb(102, 110, 110);
      }
    </style>
  </head>
  <body>

    <!--NAV BAR CODE-->
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <ul class = "navbar-nav">
              <li class="nav-item active">
                  <a class = "nav-link" href="home">Home</a></li>
              <li class="nav-item">
                  <a class="nav-link" href="/users/ingredients">Cocktails</a></li>
              <li class="nav-item">
                  <a class="nav-link" href="/users/favorite">Favorites</a></li>
          </ul>
          <span class="navbar-text" style="font-family:'Apple Chancery'; font-size:40px; margin-left:auto; margin-right:auto">
            Cocktail Mixer
        </span>
        <button class="btn btn-outline-success" type="submit">
          <a a href="/users/login">Login</a>
  </button>
  <button class="btn btn-outline-success" type="submit">
    <a a href="/users/signup">Sign up</a>
</button>
          
      </nav>
    </div>


  <!--IMG INSERT CODE-->
    <div class="container">
      <br />
      <br />
      <div class="row">
        <div class="col-4">
          <!-- <img
            class="rounded img-fluid"
            src="images/cocktails.jpeg"
            max-width:100%
          /> -->
          <img
          class="rounded img-fluid"
          src="images/background_img.jpg"
          max-width:100%
        />
        <img
          class="rounded img-fluid"
          src="images/logo2.jpeg"
          max-width:100%
        />
      </div>

  <!--Container Info Code-->
        <div class="col-8">
          <div class="jumbotron" style="background-color: rgb(255, 255, 255);">
            <h1 class="display-4" style="font-family:'Apple Chancery'; font-size:60px;">
              Welcome to Cocktail Mixer!
            </h1>
            
            <p class="lead" style = "font-family: 'Times New Roman', Times, serif; font-size: 28px;">
              Here you will able to create all sorts of cocktails. Simply add the ingredients you already have and we'll show you the rest of the way.
             You can also navigate to different pages of our website, such as the Cocktails page, at the top left of web page!
            </p>
            <hr />
            <img
            class="rounded img-fluid"
            src="images/cocktails.jpeg"
            max-width:100%
          />
            <hr />
           
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script src="../resources/js/my_scripts.js"></script>
  </body>
</html>
