<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Cocktail Ingredients</title>
    <!-- Bootstrap core CSS-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <!--CSS stylesheet for this page-->
    <link rel="stylesheet" href="../ing_style.css">
    <link rel="cardsheet" href="../card.css">

    
  </head>
  <body>
    <!--NAV BAR CODE-->
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <ul class = "navbar-nav">
              <li class="nav-item">
                  <a class = "nav-link" href="home">Home</a></li>
              <li class="nav-item active">
                  <a class="nav-link" href="/users/ingredients">Cocktails</a></li>
              <li class="nav-item">
                  <a class="nav-link" href="/users/favorite">Favorites</a></li>
          </ul>
          <span class="navbar-text" style="font-family:'Apple Chancery'; font-size:40px; margin-left:auto; margin-right:auto">
            Cocktail Mixer
        </span>
        <button class="btn btn-outline-success" type="submit">
          <a a href="/users/login">Login</a>
  </button>
  <button class="btn btn-outline-success" type="submit">
    <a a href="/users/signup">Sign up</a>
</button>
          
      </nav>
    </div>

    <!--list of ingredients to check off-->
        <div class = "container-fluid">
            <form action="/users/ingredients" method="post">
              
                <Label> Ingredients</Label><br>
                <div>
                   
                    <!--Checkboxes-->
                    <input class ="all_checkboxes" type="checkbox" name="Sugar_syrup_choice" value="Sugar syrup">Sugar syrup<br>
                    <input class ="all_checkboxes" type="checkbox" name="Lime_juice_choice" value="Lime juice">Lime juice<br>
                    <input class ="all_checkboxes" type="checkbox" name="Lime_juice_choice" value="Lime juice">Lemon juice<br>
                    <input class ="all_checkboxes" type="checkbox" name="Cherry_brandy_liqueur_choice" value="Cherry brandy liqueur">Cherry brandy liqueur<br>
                    <input class ="all_checkboxes" type="checkbox" name="grenadine_choice" value="grenadine">Grenadine<br>
                    <input class ="all_checkboxes" type="checkbox" name="cinnamon_choice" value="cinnamon">Cinnamon<br>
                    <input class ="all_checkboxes" type="checkbox" name="OJ_choice" value="rum">Orange Juice<br>
                    <input class ="all_checkboxes" type="checkbox" name="club_soda_choice" value="club_soda">Club Soda<br>
                    <input class ="all_checkboxes" type="checkbox" name="ginger_beer_choice" value="ginger_beer">Ginger Beer<br>
                    <input class ="all_checkboxes" type="checkbox" name="coke_choice" value="coke">Coke<br>
                    <input class ="all_checkboxes" type="checkbox" name="tequilla_choice" value="tequilla">Tequilla<br>
                    <input class ="all_checkboxes" type="checkbox" name="vodka_choice" value="vodka">Vodka<br>
                    <input class ="all_checkboxes" type="checkbox" name="whiskey_choice" value="whiskey">Whiskey<br>
                    <input class ="all_checkboxes" type="checkbox" name="rum_choice" value="rum">Rum<br>
                    <input class ="all_checkboxes" type="checkbox" name="gin_choice" value="gin">Gin<br>
                    <input class ="all_checkboxes" type="checkbox" name="Runny_Honey_choice" value="Runny_Honey">Runny Honey<br>
                    <input class ="all_checkboxes" type="checkbox" name="Citrus_Flavoured_vodka_choice" value="Citrus Flavoured vodka">Citrus Flavoured vodka<br>
                    <input class ="all_checkboxes" type="checkbox" name="Irish_cream_liqueur_choice" value="Irish cream liqueur">Irish cream liqueur<br>
                    <input class ="all_checkboxes" type="checkbox" name="Raspberrries_choice" value="Raspberrries">Raspberrries<br>
                    <input class ="all_checkboxes" type="checkbox" name="Melon_liqueur_choice" value="Melon liqueur">Melon liqueur<br>
                    <input class ="all_checkboxes" type="checkbox" name="Peach_Schnapp_liqueur_choice" value="Peach Schnapps liqueur">Peach Schnapps liqueur<br>
                    <input class ="all_checkboxes" type="checkbox" name="White_wine_choice" value="White wine">White wine<br>
                    <input class ="all_checkboxes" type="checkbox" name="Pomegranate_choice" value="Pomegranate">Pomegranate<br>
                    <input class ="all_checkboxes" type="checkbox" name="Apple_choice" value="Apple">Apple<br>
                    <input class ="all_checkboxes" type="checkbox" name="Cranberry_juice_choice" value="Cranberry juice">Cranberry juice<br>
                    <input class ="all_checkboxes" type="checkbox" name="cream_choice" value="Cream">Cream<br>
                    <input class ="all_checkboxes" type="checkbox" name="Grapefruit_choice" value="Grapefruit">Grapefruit<br>
                    <input class ="all_checkboxes" type="checkbox" name="Wine_choice" value="Wine">Wine<br>
                    <input class ="all_checkboxes" type="checkbox" name="pisco_choice" value="Pisco">Pisco<br>
                    <input class ="all_checkboxes" type="checkbox" name="Coconut_rum_liqueur_choice" value="Coconut rum liqueur">Coconut rum liqueur<br>
                
                    <input class ="all_checkboxes" type="checkbox" name="sake_choice" value="Sake">Sake<br>
                    <input class ="all_checkboxes" type="checkbox" name="Strawberries_choice" value="Strawberries juice">Strawberries<br>
                    <input class ="all_checkboxes" type="checkbox" name="Cognac_choice" value="Cognac">Cognac<br>
                    <input class ="all_checkboxes" type="checkbox" name="Pineapple_choice" value="Pineapple">Pineapple<br>
                    <input class ="all_checkboxes" type="checkbox" name="mango_choice" value="mango">Mango<br>
                    
<!--submit button v 2
<input type="search" id="mySearch" name="q">
<button>Search</button>
-->
<!--submit button-->
<input type="submit" value="search" class="submit-btn">
                    
                </div>
            </form>

            


        </div>

        <%if(all_drinks){
          for(let drink in all_drinks)
          {%>
            <div class="container-fluid">

              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h1 class="card-title-fluid" style = "font-size: 30px; position: absolute; left:50%"> <%-drink %> </h1>
                      <input class="star" type="checkbox" title="favorite drink" unchecked>Favorite<br/><br/>Favorite

                      <ul class="recipe"></ul>
                      <%for(let i = 0; i < 10; i++)
                      {
                        
                        if(all_drinks[drink].ingredients[i] == null || all_drinks[drink].ingredients[i] == '')
                        {
                          break;
                        }%>
                        <li class = "card"><%-all_drinks[drink].measurement[i]%> - <%- all_drinks[drink].ingredients[i]%></li>
                        
                      <%}%>
                      </ul>

                  </ul>
              </div> 
          </div>
         <% }
        }%>

<!--all_drinks[drink].property-->
    


<!--all_drinks[drink].property-->
    </body>
