
.card{
    background-color: rgba(131, 161, 157, 1);
    border-style:solid;
    border-radius:30px;
}
.star{
   position: absolute;
   left: 45%;
   visibility:hidden;
   font-size:30px;
   cursor:pointer;
}
.star:before{
   content: "\2605";
   position: absolute;
   visibility:visible;
   color: #FFFFFF;
 }
 .star:checked:before{
    content: "\2605";
    position: absolute;
    color: #FFC107;
 }